body {
	font-family: 'Roboto', sans-serif !important;
	width: 100%;
	height: 100%;
}
nav {
	width: 100%;
}

.grid {
  column-count: 4;
}

div.col-3{
	max-width: 21%;
    border: 2px solid black;
    margin: 2%;
}
div.col-3 p{
	text-align: center;
	font-size: 0.8rem;
}

nav.navbar {
	padding: 0 5%;
}

span.navbar-brand{
	font-size: 48px;
}

#add_new_product{
	width: 90%;
	margin: 4% 7%;
}

form.add{
	margin: 0 5%;
}

label{
	margin-top: 20px;
}

#save, #list_delete {
	position: absolute;
	right: 5%;
    top: 3%;
}

.alert {
	width: 90%;
	margin: 10px auto;
}